*::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #34d399;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* {
  scroll-behavior: smooth;
}

.person-list {
  display: block;
}

@media screen and (max-width: 768px) {
  .person-list {
    display: none;
  }
  .contenedor {
    padding-bottom: 0px !important;
  }
}

.contenedor-msg{
  background-image: url('../../../assets/background.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 550px;
}