<!-- Sidebar -->
<section class="w-12 h-[200px] fixed right-8 top-6 flex flex-col gap-4 items-center select-none">

  <div *ngIf="userData.img" class="h-8 w-[2.3rem] grid place-items-center text-2xl cursor-pointer relative">
    <img (click)="showOptions()" class="object-cover rounded-full hover:shadow-normal"
      [src]="userData.img">

    <!-- Open Image with options -->
    <section *ngIf="menu"

      class="absolute bottom-[-100px] left-[-225px] w-[220px]  bg-black/50 rounded-xl shadow-menu flex flex-col text-sm overflow-hidden z-50">
      <div class="p-4">
        <p class="font-semibold">{{userData.name}}</p>
        <p class="text-[13px] text-gray-400">{{userData.email}}</p>
      </div>

      <!-- line -->
      <div class="w-full h-[1px] bg-[#616a6b9f]"></div>
      <div (click)="LogOut()" class="py-2 px-4 hover:bg-yellow-300/30">
        <p>Cerrar sesión</p>
      </div>
    </section>

  </div>
  <div class="h-8 w-full grid place-items-center text-2xl cursor-pointer">
    <i class="ti ti-notification" matTooltip="Notifications"></i>
  </div>
  <div class="h-8 w-full grid place-items-center text-2xl text-yellow-300 cursor-pointer">
    <i class="ti ti-star-filled" matTooltip="Repository"></i>
  </div>
  <div class="h-8 w-full grid place-items-center text-2xl text-cyan-500 cursor-pointer">
    <i class="ti ti-brand-linkedin" matTooltip="Linkedin profile"></i>
  </div>
</section>